<!DOCTYPE html>
<html>
<head>
    <title>FM-DX Webserver [<%= tunerName %>]</title>
    <link href="css/entry.css" type="text/css" rel="stylesheet">
    <link href="css/flags.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="icon" type="image/png" href="favicon2.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="FM-DX WebServer [<%= tunerName %>]">
    <meta property="og:type" content="website">
    <meta property="og:image" content="favicon2.png">
    <meta property="og:description" content="Server description: <%= tunerDescMeta %>.">
    
    <script src="js/init.js"></script>
    
    <!-- 3LAS Scripts for Audio streaming -->
    <script src="js/3las/util/3las.helpers.js"></script>
    <script src="js/3las/util/3las.logging.js"></script>
    <script src="js/3las/fallback/3las.liveaudioplayer.js"></script>
    <script src="js/3las/fallback/3las.formatreader.js"></script>
    <script src="js/3las/fallback/formats/3las.formatreader.mpeg.js"></script>
    <script src="js/3las/fallback/formats/3las.formatreader.wav.js"></script>
    <script src="js/3las/util/3las.websocketclient.js"></script>
    <script src="js/3las/fallback/3las.fallback.js"></script>
    <script src="js/3las/3las.webrtc.js"></script>
    <script src="js/3las/3las.js"></script>
    <script src="js/3las/main.js"></script>
    <script type="text/javascript">
            var RtcConfig = {	
				iceServers: [
					{
						urls: "turns:turnserver.example.org",
					},
					{
						urls: "stun.l.google.com:19302"
					}
				]
				
			};
            var AudioTagId = "audioTag";
			window.addEventListener('load', Init, false);
			document.ontouchmove  = function(e){ 
				e.preventDefault(); 
			}
    </script>
</head>
<body>
    <audio id="audioTag"></audio>
    <div id="wrapper">
        <div class="panel-100 no-bg tuner-info">
            <h1 id="tuner-name"><%= tunerName %> <% if (!publicTuner) { %><i class="fa-solid fa-key pointer" title="Only people with tune password can tune."></i>
                <% } else if (tunerLock) { %><i class="fa-solid fa-lock pointer" title="Tuner is currently locked to admin."></i><% } %>
            </h1>
            <p id="tuner-desc">
                <%- tunerDesc %>
                <% if(tuningLimit && tuningLimit == true){ %>
                    <br><span class="text-small">Limit: <span class="color-4"><%= tuningLowerLimit %> MHz - <%= tuningUpperLimit %> MHz</span></span><br>
                 <% } %>
            </p>
            <div style="clear: both"></div>
        </div>
        <div class="canvas-container hide-phone">
            <canvas id="signal-canvas"></canvas>
        </div>

        <div class="flex-container">
            <div class="panel-100 bg-none">
                <div class="flex-container">
                    <div class="panel-75 flex-container no-bg">
                        <div class="panel-10 no-bg h-100 m-0 m-right-20 hide-phone" style="width: 100px;margin-right: 20px !important;">
                            <button class="playbutton" aria-label="Play / Stop Button"><i class="fa-solid fa-play fa-lg"></i></button>
                        </div>
                        <div class="panel-100 m-0 hover-brighten flex-center" id="ps-container" style="height: 90px;">
                            <span class="text-big" id="data-ps"></span>
                        </div>
                    </div>
                    
                    <div id="flags-container-desktop" class="panel-33">
                        <h2 class="show-phone">
                            <div class="data-pty text-color-default"></div>
                        </h2>
                        <h3 style="margin-top:0;margin-bottom:0;" class="color-4 flex-center">
                            <span class="data-tp">TP</span>
                            <span style="margin-left: 15px;" class="data-ta">TA</span>
                            <div style="display:inline-block">
                                <span style="margin-left: 20px;display: block;margin-top: 2px;" class="data-flag"></span>
                            </div>
                            <span id="stereo-container" class="pointer"><span style="margin-left: 20px;" class="data-st">ST</span></span>
                            <span style="margin-left: 15px;" class="data-ms">MS</span>
                        </h3>
                    </div>
                </div>
                
                <div class="flex-container">
                    <div class="panel-33 hover-brighten" id="pi-code-container">
                        <h2>PI CODE</h2>
                        <span id="data-pi" class="text-big text-uppercase"></span>
                    </div>
                    
                    <div class="panel-33 hover-brighten" id="freq-container">
                        <h2>FREQUENCY</h2>
                        <span id="data-frequency" class="text-big"></span>
                    </div>
                    
                    <div class="panel-33">
                        <h2>SIGNAL</h2>
                        <span class="text-big">
                            <span id="data-signal"></span><!--
                        --><span id="data-signal-decimal" class="text-medium-big" style="opacity:0.7;"></span>
                            <span id="signal-units" class="text-medium">dBf</span>
                        </span>
                    </div>
                </div>
                
                <div class="flex-container flex-phone flex-phone-column">
                    <div class="panel-33 no-bg filter-controls" style="height: 48px;">
                        <div class="flex-container flex-phone h-100">
                            <div class="panel-75 no-bg h-100 m-0 hide-desktop m-right-20 button-play-mobile" style="margin-right: 20px;">
                                <button class="playbutton" aria-label="Play/Stop"><i class="fa-solid fa-play"></i></button>
                            </div>
                            
                            <% if (antennaSwitch) { %>
                                <div class="panel-50 no-bg h-100 m-0 dropdown" id="data-ant" style="margin-right: 25px;">
                                    <input type="text" placeholder="Ant A" readonly>
                                    <ul class="options">
                                        <li data-value="0" class="option">Ant A</li>
                                        <li data-value="1" class="option">Ant B</li>
                                        <li data-value="2" class="option">Ant C</li>
                                        <li data-value="3" class="option">Ant D</li>
                                    </ul>
                                </div>
                            <% } %>
                            
                            <div class="panel-100 no-bg h-100 m-0 button-eq">
                                <button id="data-eq" style="border-radius: 30px 0px 0px 30px;" aria-label="EQ / RF+ Filter"><span class="text-bold">EQ</span><br><span class="text-smaller">(RF+)</span></button>
                            </div>
                            <div class="panel-100 no-bg h-100 m-0 button-ims">
                                <button id="data-ims" style="border-radius: 0px 30px 30px 0px;"  aria-label="iMS / IF+ Filter"><span class="text-bold">iMS</span><br><span class="text-smaller">(IF+)</span></button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel-33 flex-container flex-phone" id="tune-buttons">
                        <button id="freq-down" aria-label="Tune down by 100 KHz"><i class="fa-solid fa-chevron-left"></i></button>
                        <input type="text" id="commandinput" inputmode="numeric" placeholder="Frequency" autocomplete="off" aria-label="Current frequency: ">
                        <button id="freq-up" aria-label="Tune up by 100 KHz"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                    
                    <div class="panel-33 hide-phone" style="height: 48px;">
                        <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1"  aria-label="Volume slider">
                    </div>
                </div>
                
                <div class="flex-container flex-phone flex-phone-column">
                    <div class="panel-75 hover-brighten" id="rt-container" style="height: 100px;">
                        <h2 style="margin-top: 4px;">RADIOTEXT</h2>
                        <div id="data-rt0"></div>
                        <div id="data-rt1"></div>
                        <hr class="hide-desktop">
                    </div>
                    
                    <div class="panel-33 hover-brighten">
                        <div id="data-station-container">
                            <h2 style="margin-top: 0;" class="mb-0">
                                <span id="data-station-name"></span>
                            </h2>
                            <h4 class="m-0">
                                <span id="data-station-city"></span>, <span id="data-station-itu"></span>
                            </h4>
                            <span class="text-small">
                                <span id="data-station-erp"></span> kW [<span id="data-station-pol"></span>] <span class="text-gray">•</span> <span id="data-station-distance"></span> km <span class="text-gray">•</span> <span id="data-station-azimuth"></span>°
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="panel-10 bg-none">
                <div class="panel-100 w-100">
                    <h2>AF</h2>
                    <div id="af-list" class="p-bottom-20" style="text-align: center;">
                        <ul style="height: 251px;">

                        </ul>
                    </div>
                </div>
                <% if (chatEnabled) { %>
                <div class="panel-10 no-bg h-100 hide-phone" style="width: 100px; height: 100px;">
                    <button class="chatbutton bg-color-2"><i class="fa-solid fa-comments fa-lg"></i> (<span class="chat-messages-count">0</span>)</button>
                </div>
                <% } %>
            </div>
        </div>
        <div id="flags-container-phone" class="panel-33">
            <h2 class="show-phone">
                <div class="data-pty text-color-default"></div>
            </h2>
            <h3 style="margin-top:0;margin-bottom:0;" class="color-4 flex-center">
                <span class="data-tp">TP</span>
                <span style="margin-left: 15px;" class="data-ta">TA</span>
                <div style="display:inline-block">
                    <span style="margin-left: 20px;display: block;margin-top: 2px;" class="data-flag"></span>
                </div>
                <span style="margin-left: 20px;" class="data-st"></span>
                <span style="margin-left: 15px;" class="data-ms">MS</span>
            </h3>
        </div>
    </div>
    
    <button id="settings" aria-label="Settings"><i class="fa-solid fa-gear"></i></button>
    <% if (chatEnabled) { %>
    <button class="chatbutton hide-desktop bg-color-2"><i class="fa-solid fa-comments fa-lg"></i> (<span class="chat-messages-count">0</span>)</button>
    <% } %>
    <button id="users-online-container" class="hide-phone" aria-label="Online users"><i class="fa-solid fa-user"></i> <span class="users-online"></span></button>

<div id="myModal" class="modal">
    <div class="modal-panel">
        <div class="flex-container flex-phone" style="height: calc(100% - 100px)">
        <div class="modal-panel-sidebar hover-brighten flex-center text-medium-big closeModal"><i class="fa-solid fa-chevron-right"></i></div>
        <div class="modal-panel-content">
            <h1 class="top-25">Settings</h1>
            
            <div class="form-group top-25">
                <label for="themes"><i class="fa-solid fa-palette"></i> Theme:</label>
                <div class="dropdown" id="theme-selector">
                    <input type="text" placeholder="Default" readonly>
                    <ul class="options">
                        <li class="option" data-value="theme1">Default</li>
                        <li class="option" data-value="theme2">Cappuccino</li>
                        <li class="option" data-value="theme3">Nature</li>
                        <li class="option" data-value="theme4">Ocean</li>
                        <li class="option" data-value="theme5">Terminal</li>
                        <li class="option" data-value="theme6">Nightlife</li>
                        <li class="option" data-value="theme7">Blurple</li>
                        <li class="option" data-value="theme8">Construction</li>
                        <li class="option" data-value="theme9">AMOLED</li>
                    </ul>
                </div>
            </div>
            
            <div class="form-group top-25">
                <label for="signal"><i class="fa-solid fa-signal"></i> Signal units:</label>
                <div class="dropdown" id="signal-selector">
                    <input type="text" placeholder="dBf" readonly>
                    <ul class="options">
                        <li class="option" data-value="dbf">dBf</li>
                        <li class="option" data-value="dbuv">dBuV</li>
                        <li class="option" data-value="dbm">dBm</li>
                    </ul>
                </div>
            </div><br>
            
            <div class="form-group checkbox">
                <input type="checkbox" id="extended-frequency-range">
                <label for="extended-frequency-range">Add decimals manually</label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="ps-underscores">
                <label for="ps-underscores">Add underscores to RDS PS</label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="smooth-signal">
                <label for="smooth-signal">Smooth signal</label>
            </div>

            <div class="form-group bottom-20 hide-desktop" style="float: none;">
                <label for="users-online"><i class="fa-solid fa-user"></i> Users online:</label>
                <span class="users-online" name="users-online">0</span>
            </div>
            
            <% if (isAdminAuthenticated) { %>
                <p>You are logged in as an adminstrator.<br>
                    <a href="./setup">Setup</a> • <a class="logout-link" href="#">Logout</a>
                </p>
                <% } else if (isTuneAuthenticated) { %>
                    <p>You are logged in and can control the receiver. <a class="logout-link" href="#">Logout</a></p>
                    <% } else { %>
                        <form action="./login" method="post" id="login-form" class="top-25">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" style="width: 200px;" required><br>
                            <button type="submit" class="br-0 w-100 top-10" style="height: 44px">Login</button>
                        </form>
                        <% } %>
                        <div id="login-message"></div>

                        <h2>Time:</h2>
                        <p class="m-0">Server: <span class="color-3" id="server-time"></span></p>
                        <p class="m-0">Local: <span class="color-3" id="client-time"></span></p>

                        <p class="text-small" id="current-ping"></p>
                        
                        <div class="version-info">
                            <p class="text-small">FM-DX WebServer <br>by <a href="https://noobish.eu" target="_blank">Noobish</a>, <a href="https://fmdx.pl" target="_blank">kkonradpl</a> & the OpenRadio community.</p>
                            <span style="color: var(--color-3);" class="version-string"></span><br>
                            <span class="text-small" style="color: var(--color-3);">[<a href="https://list.fmdx.pl" target="_blank">Receiver Map</a>]</span>
                            <br>
                            <br>
                            <% if(ownerContact){ %>
                                <span>Owner contact:</span><br>
                                <span class="text-small m-0"><%= ownerContact %></span>
                             <% } %>
                        </div>
        </div>
    </div>
    <div class="modal-panel-footer flex-container flex-phone">
        <div class="modal-panel-sidebar" style="font-size: 22px;">
            <div class="flex-center" style="height: 50px">
                <i class="fa-solid fa-hand-holding-medical"></i>
            </div>
            <div class="flex-center" style="height: 50px">
                <i class="fa-brands fa-discord"></i>
            </div>
        </div>
        <div class="modal-panel-content">
            <div class="hover-brighten br-0" style="height: 50px;padding:12px;" onclick="window.open('https://buymeacoffee.com/noobish')">
                <strong>Support</strong> the developer!
            </div>
            <div class="hover-brighten br-0" style="height: 50px;padding:12px;" onclick="window.open('https://discord.com/invite/ZAVNdS74mC')">
                Join our <strong>OpenRadio Discord</strong> community!
            </div>
        </div>
    </div>
    </div>
                  
    <div class="modal-panel-chat">
        <div class="modal-panel-sidebar hover-brighten flex-center text-medium-big closeModal"><i class="fa-solid fa-chevron-down"></i></div>
        <div class="modal-panel-content text-left">
            <div style="text-align: center;">
                    <input type="text" id="chat-nickname" name="chat-nickname" placeholder="Nickname">
                    <button class="br-0 w-100 top-10" style="height: 44px" id="chat-nickname-save">Save</button>
                <p style="margin: 5px;">
                    Current identity: <span style="color: lime;" id="chat-admin"></span> <strong id="chat-identity-nickname">Anonymous User</strong> 
                </p>
            </div>

            <div id="chat-chatbox" class="bg-color-1" style="height: 270px;padding: 10px;overflow-y: auto;">
            </div>
            
            <div class="flex-container flex-phone" style="align-content: stretch;">
                <input class="bg-color-2" type="text" id="chat-send-message" name="chat-send-message" placeholder="Send message..." style="background-color: var(--color-2);width: 100%;">
                <button class="chat-send-message-btn br-0" style="width: 80px; height: 45px;"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>

<script src="js/webserver.js"></script>
</body>
</html>
